*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(86, 209, 240);
}

.bar__header{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    background: whitesmoke;

    padding: 20px;
}

.nav__top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav__top a img {
    width: 200px;
}

.nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav__menu li a {
    font-size: 20px;
    font-weight: 500;
    font-style:inherit;
    color: black;
    
    padding: 30px;
}